$custom-purple: #694ED8 !default;
$custom-purple-darker: #6600CC !default;
$custom-gray: #f3f3f3;
$custom-light-gray: #f9f9f9;
$custom-hover-gray: #e0e0e0;
$custom-active-gray: #d0d0d0;
$custom-highlight-color: #065ae2;