@import "./custom_colors.scss";

.home{
    background-color: $custom-purple;
    height: calc(100% - 75px);
}

@media(width < 1024px) {
    .buttons{
        flex-direction: column;
    }
    #navbarBasicExample{
        border-bottom: 1px solid whitesmoke;
    }
}