@import "./custom_colors.scss";

.notes {
    background-color: #1e1e1e;
    height: calc(100% - 75px);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.bm-menu {
    background-color: #fff;
    padding-top: 10px;
}

.notes-list {
    cursor: pointer;
}

.notes-list {
    .list-item {
        background-color: $custom-light-gray;
        border-left: 4px solid transparent;
        padding: 10px;
        transition: background-color 0.3s ease, border-left-color 0.3s ease;

        &:hover {
            background-color: $custom-hover-gray;
        }

        &.is-active {
            background-color: $custom-active-gray;
            border-left-color: $custom-highlight-color;
        }

        .title,
        .subtitle {
            color: #000;
            margin-bottom: 5px;
        }

        .tag {
            margin-top: 5px;
        }
    }
}

.notes{
    color: #000;
}

.notes-editor{
    padding: 0px;
    height: calc(100% - 40px);
    .quill{
        overflow: hidden;
        height: 100%;
    }

}